<!DOCTYPE html>
<html>
  <head>
    <title>世界遺産リスト</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Nation : 中国</p>
  </body>
</html>
